.DS_Store
.git
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.venv/
data/*
!data/.gitkeep
docs/plan/*.aux
docs/plan/*.fdb_latexmk
docs/plan/*.fls
docs/plan/*.log
docs/plan/*.out
docs/plan/*.pdf
docs/plan/*.synctex.gz
.token*
